
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
}

header {
  background: #ff0000;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #ff0000;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: url ('PHOTO-2023-11-07-15-12-43.jpg') no-repeat center center/cover;
  color: white;
}

.btn {
  background: #f04;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
